.breadcrumbs {
    padding-top: 15px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

 .breadcrumbs__item-active .breadcrumbs__link{
    color: #9A9A9A;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumbs__item:after{
    margin-left: 5px;
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child::after{
    display: none;
}

.section__products-head {
    margin-top: 42px;
    display: flex;
}

.section__title-products {
    margin-right: 241px;
}

.products__search {
    width: 380px;
    height: 50px;
    background: rgb(247, 247, 247);
    padding-left: 30px;
    border: 1px solid transparent;
}

.search__img {
    position: relative;
    left: 3%;
    top: -50%;
}